html{
  background-color: #3c3838;
}

body{
  background-color: transparent;
}

#log-in-form{
  margin: 100px auto 0;
  padding: 150px;
  color: white;
  height: 660px;
  max-width: 1000px;
  background-image: url("notebook-chill.jpg");
  background-size: cover;
}

#log-in-form .heading{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

#log-in-form .form-group{
  float: left;
  width: 28%;
  margin-left: 40px;
}

#log-in-form .form-control{
  padding: 15px 25px;
  height: auto;
}

#log-in-form .form-group-btn{
  width: 15%;
  margin-left: 70px;
}

#log-in-form .btn{
  padding: 13px 32px;
}

#log-in-form .checkbox{
  float: left;
  margin: 15px 0 50px 40px;
}


@media screen and (max-width: 800px){
  #log-in-form{
      margin: 20px;
  }

  #log-in-form .form-group{
      width: 60%;
      float: none;
      margin: 10px auto;
  }

  #log-in-form .form-group-btn{
      margin-top: 30px;
  }

  #log-in-form .btn{
      width: 100%;
  }

  #log-in-form .checkbox{
      width: 60%;
      float: none;
      margin: 15px auto 50px auto;
  }
}

@media screen and (max-width: 600px){
  #log-in-form .form-group,
  #log-in-form .checkbox{
      width: 90%;
  }
}